/* Font Definitions - sets custom fonts to be used for the page */
        @font-face
            {font-family:Wingdings;
            panose-1:5 0 0 0 0 0 0 0 0 0;}
        @font-face
            {font-family:"Cambria Math";
            panose-1:2 4 5 3 5 4 6 3 2 4;}
        @font-face
            {font-family:Aptos;}
        @font-face
            {font-family:"Yu Mincho";
            panose-1:2 2 4 0 0 0 0 0 0 0;}
        @font-face
            {font-family:"\@Yu Mincho";}
        /* Style Definitions - defines the varius text styles to be used in diffrent sections of the webpage */
        /* This is the default style for some text*/
        p.MsoNormal, li.MsoNormal, div.MsoNormal
            {margin-top:0in;
            margin-right:0in;
            margin-bottom:8.0pt;
            margin-left:0in;
            line-height:115%;
            font-size:12.0pt;
            font-family:"Aptos",sans-serif;}
        /* These are some more specific styles for some paragraphs*/
        p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
            {margin-top:0in;
            margin-right:0in;
            margin-bottom:8.0pt;
            margin-left:.5in;
            line-height:115%;
            font-size:12.0pt;
            font-family:"Aptos",sans-serif;}
        p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst
            {margin-top:0in;
            margin-right:0in;
            margin-bottom:0in;
            margin-left:.5in;
            line-height:115%;
            font-size:12.0pt;
            font-family:"Aptos",sans-serif;}
        p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle
            {margin-top:0in;
            margin-right:0in;
            margin-bottom:0in;
            margin-left:.5in;
            line-height:115%;
            font-size:12.0pt;
            font-family:"Aptos",sans-serif;}
        p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast
            {margin-top:0in;
            margin-right:0in;
            margin-bottom:8.0pt;
            margin-left:.5in;
            line-height:115%;
            font-size:12.0pt;
            font-family:"Aptos",sans-serif;}
        .MsoChpDefault
            {font-size:12.0pt;
            font-family:"Aptos",sans-serif;}
        .MsoPapDefault
            {margin-bottom:8.0pt;
            line-height:115%;}
        /*sets page size to letter for printing*/
        @page WordSection1
            {size:8.5in 11.0in;
            margin:.5in .5in .5in .5in;}
        div.WordSection1
            {page:WordSection1;}
        /* List Definitions */
        ol
            {margin-bottom:0in;}
        ul
            {margin-bottom:0in;}