body {
    background: lightcyan;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center; color: hsl(166, 76%, 53%);
}

.about {
    text-align: center; color: brown;
}

.skills {
    text-align: center; color: blue;
}

.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: #ca9fe9;
border-radius: 25%;
}

.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px red;
    display: block;
    margin: auto;
}

.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */

.contact {
    color: #327ccc;
}